In [2]:
import pandas as pd

table_a = pd.DataFrame({
    'A': ['all', 1, 4, 4,6,5,8,'all'], 
    'B': [2, 2, 3, 2,6,7,12,'all'], 
    'C': [3, 3, 3, 3,6,1,8,13], 
    'D': [4, 4, 4, 4,6,1,13,9]
})

table_b = pd.DataFrame({
    'A': ['all', 1, 'all', 4,5,'all','all','all'], 
    'B': [2, 2, 2, 'all',7,'all','all','all'], 
    'C': [3, 3, 'all', 3,'all',8,13,'all'], 
    'target': ['xyz', 'zyx', 'tyz', 'abc','yyy','ppp','hgf','hhh']
})

In [11]:
table_a

     A    B   C   D
0  all    2   3   4
1    1    2   3   4
2    4    3   3   4
3    4    2   3   4
4    6    6   6   6
5    5    7   1   1
6    8   12   8  13
7  all  all  13   9

In [12]:
table_b

     A    B    C target
0  all    2    3    xyz
1    1    2    3    zyx
2  all    2  all    tyz
3    4  all    3    abc
4    5    7  all    yyy
5  all  all    8    ppp
6  all  all   13    hgf
7  all  all  all    hhh

Code1

In [17]:
data_a = {'A': ['all', 1, 4, 4,6,5,8,'all'], 'B': [2, 2, 3, 2,6,7,12,'all'], 'C': [3, 3, 3, 3,6,1,8,13], 'D': [4, 4, 4, 4,6,1,13,9]}
table_a = pd.DataFrame(data_a)

data_b = {'A': ['all', 1, 'all', 4,5,'all','all','all'], 'B': [2, 2, 2, 'all',7,'all','all','all'], 'C': [3, 3, 'all', 3,'all',8,13,'all'], 'target': ['xyz', 'zyx', 'tyz', 'abc','yyy','ppp','hgf','hhh']}
table_b = pd.DataFrame(data_b)

given the code below ceate the same general solution for priority_keys = [('A', 'B', 'C'), ('A', 'B'), ('A', 'C'), ('B', 'C'), ('A',), ('B',), ('C',)]

output_data = []
added_rows = set()

for a, row_a in table_a.iterrows():
    for b, row_b in table_b.iterrows():
        # 1) make a priority when all values in all columns are matching
        if row_a['A'] == row_b['A'] and row_a['B'] == row_b['B'] and row_a['C'] == row_b['C']:
            key = (row_a['A'], row_a['B'], row_a['C'],row_a['D'])
            if key not in added_rows:
                output_data.append({
                    'A': row_a['A'],
                    'B': row_a['B'],
                    'C': row_a['C'],
                    'D': row_a['D'],
                    'target': row_b['target']
                })
                added_rows.add(key)
        # 2) make a priority when Col A and and Col B matching becasue it takes two known values and prioritize Col A and then Col B
        else:
            if row_a['A'] == row_b['A'] and row_a['B'] == row_b['B'] and row_b['A'] != 'all' and row_b['B'] != 'all' and row_b['C']=='all':
                key = (row_a['A'], row_a['B'], row_a['C'],row_a['D'])
                if key not in added_rows:
                    output_data.append({
                    'A': row_a['A'],
                    'B': row_a['B'],
                    'C': row_a['C'],
                    'D': row_a['D'],
                    'target': row_b['target']
                })
                added_rows.add(key)
#         3) make a priority when Col A and and Col C matching becasue it takes two known values and prioritize Col A and then Col C
            if row_a['A'] == row_b['A'] and row_a['C'] == row_b['C'] and row_b['A'] != 'all' and row_b['C'] != 'all' and row_b['B'] == 'all':
                key = (row_a['A'], row_a['B'], row_a['C'],row_a['D'])
                if key not in added_rows:
                    output_data.append({
                    'A': row_a['A'],
                    'B': row_a['B'],
                    'C': row_a['C'],
                    'D': row_a['D'],
                    'target': row_b['target']
                })
                added_rows.add(key)
        # 4) make a priority when Col B and and Col C matching becasue it takes two known values and prioritize Col B and then Col C
            if row_a['B'] == row_b['B'] and row_a['C'] == row_b['C'] and row_b['B'] != 'all' and row_b['C'] != 'all' and row_b['A'] == 'all':
                key = (row_a['A'], row_a['B'], row_a['C'],row_a['D'])
                if key not in added_rows:
                    output_data.append({
                    'A': row_a['A'],
                    'B': row_a['B'],
                    'C': row_a['C'],
                    'D': row_a['D'],
                    'target': row_b['target']
                })
                added_rows.add(key)
        # 4) make a priority when Col A is matching becasue it takes one known value and prioritize Col A
            if row_a['A'] == row_b['A'] and row_b['A'] != 'all' and row_b['B'] == 'all' and row_b['C'] == 'all':
                key = (row_a['A'], row_a['B'], row_a['C'],row_a['D'])
                if key not in added_rows:
                        output_data.append({
                    'A': row_a['A'],
                    'B': row_a['B'],
                    'C': row_a['C'],
                    'D': row_a['D'],
                    'target': row_b['target']
                })
                added_rows.add(key)
        # 4) make a priority when Col B is matching becasue it takes one known value and prioritize Col B
            if row_a['B'] == row_b['B'] and row_b['B'] != 'all'and row_b['A'] == 'all' and row_b['C'] == 'all':
                key = (row_a['A'], row_a['B'], row_a['C'],row_a['D'])
                if key not in added_rows:
                    output_data.append({
                    'A': row_a['A'],
                    'B': row_a['B'],
                    'C': row_a['C'],
                    'D': row_a['D'],
                    'target': row_b['target']
                })
                    added_rows.add(key)
        # 4) finally,  Col C is matching becasue it takes one known value and it is the last Col to prioritize
            if row_a['C'] == row_b['C'] and row_b['C'] != 'all'and row_b['A'] == 'all' and row_b['B'] == 'all':
                key = (row_a['A'], row_a['B'], row_a['C'],row_a['D'])
                if key not in added_rows:
                    output_data.append({
                    'A': row_a['A'],
                    'B': row_a['B'],
                    'C': row_a['C'],
                    'D': row_a['D'],
                    'target': row_b['target']
                })
                    added_rows.add(key)

            
_table = pd.DataFrame(output_data)
print(_table)

     A    B   C   D target
0  all    2   3   4    xyz
1    1    2   3   4    xyz
2    4    3   3   4    abc
3    4    2   3   4    xyz
4    5    7   1   1    yyy
5    8   12   8  13    ppp
6  all  all  13   9    hgf

In [19]:
def match_rows_priority(table_a, table_b, priority_keys, target_column):
    output_data = []
    added_rows = set()

    for a, row_a in table_a.iterrows():
        for b, row_b in table_b.iterrows():
            for priority in priority_keys:
                # Check if all values for the current priority are the same in both rows and are not 'all'
                if all(row_a[key] == row_b[key] and row_b[key] != 'all' for key in priority) and all(row_b[key] == 'all' for key in set(table_b.columns) - set(priority) - {target_column}):
                    key = tuple(row_a.values)
                    if key not in added_rows:
                        output_row = row_a.to_dict()
                        output_row.update({target_column: row_b[target_column]})
                        output_data.append(output_row)
                        added_rows.add(key)
                    
    _table = pd.DataFrame(output_data)
    return _table

# Example usage:
priority_keys = [('A', 'B', 'C'), ('A', 'B'), ('A', 'C'), ('B', 'C'), ('A',), ('B',), ('C',)]
target_column = 'target'
result_table = match_rows_priority(table_a, table_b, priority_keys, target_column)
print(result_table)

     A    B   C   D target
0  all    2   3   4    xyz
1    1    2   3   4    xyz
2    4    3   3   4    abc
3    4    2   3   4    xyz
4    5    7   1   1    yyy
5    8   12   8  13    ppp
6  all  all  13   9    hgf